data/*
.vscode/settings.json
papers
__pycache__/args.cpython-36.pyc
models/__pycache__/__init__.cpython-36.pyc
models/__pycache__/alexnet.cpython-36.pyc
models/__pycache__/densenet.cpython-36.pyc
models/__pycache__/inception.cpython-36.pyc
models/__pycache__/resnet.cpython-36.pyc
models/__pycache__/squeezenet.cpython-36.pyc
models/__pycache__/vgg.cpython-36.pyc
static/image/tmp_2f22f31706fa46a830ba05e7263be3a9.jpg
static/image/tmp_8c034a3633b841594e8fca2b1e78d335be75a5bb7449aeca.jpg
static/image/tmp_8e47ba6c7f14f02892d4e70a50cc98c9fa04f2658d8cd31b.jpg
static/image/tmp_9fc7dd4b8707fe133ac13f1a2495267a9202176517c5b08b.jpg
static/image/tmp_25c776cc701ae4c3aad023ac618fcb14056a01d8ab51943c.jpg
static/image/tmp_53ab1f2e7692c847f967490088388b98c85afe31e2fcbb4c.jpg
static/image/tmp_069b01bfd7cfbb9da424719b1587e67b8b7d827449ee41d9.jpg
static/image/tmp_547caf022a91fc642e064ed2d95decd69a8771f040cc57fd.jpg
static/image/tmp_586b5ce8245cd696f956f8e59e8d80a87e1164e6f183fe70.jpg
static/image/tmp_808f6d9d7ee9c5cac5562e5e10ca9ea7ac05024dcdbcb24a.jpg
static/image/tmp_914b86d900087be3edc61917d61c02e8a486bf01154b806e.jpg
static/image/tmp_3440d527be49ebdb69d8f8d7495d0d16ed3118546c890b9a.jpg
static/image/tmp_9438c62ede621692d1e57e0ff03361360bd03b459a729b4f.jpg
static/image/tmp_47688e8a23ea4f869b4bd6e9c9ca58b502cbb0d33e04c2e4.jpg
static/image/tmp_ad75ec9c2195bb1e992e294c20737e6dc21ea4bec7b8c9c1.jpg
static/image/tmp_af49148df12658022d4ec85961051e560a869fd404beebd3.jpg
static/image/tmp_db4d658cfb3521ab382b877712a4745ab9a66d911e9acedf.jpg
static/image/tmp_fd0fa189489a59d255b24a9230a00e0e0042ca1b66e80d9a.jpg
utils/__pycache__/__init__.cpython-36.pyc
utils/__pycache__/eval.cpython-36.pyc
utils/__pycache__/json_utils.cpython-36.pyc
utils/__pycache__/logger.cpython-36.pyc
utils/__pycache__/misc.cpython-36.pyc
utils/__pycache__/train_eval.cpython-36.pyc
utils/__pycache__/transform.cpython-36.pyc
checkpoint/checkpoint.pth.tar
checkpoint/garbage_resnext101_model_2_8962_9129.pth
checkpoint/garbage_resnext101_model_3_9366_9426.pth
checkpoint/garbage_resnext101_model_4_9482_9453.pth
checkpoint/garbage_resnext101_model_5_9536_9497.pth
checkpoint/garbage_resnext101_model_6_9578_9568.pth
checkpoint/garbage_resnext101_model_7_9591_9574.pth
checkpoint/garbage_resnext101_model_11_9641_9581.pth
checkpoint/garbage_resnext101_model_12_9556_9591.pth
checkpoint/garbage_resnext101_model_14_9662_9608.pth
checkpoint/log.txt
pre_trained_models/ig_resnext101_32x16-c6f796b0.pth
ResNext_Inference/images/cat.jpg
ResNext_Inference/images/dog_2.jpg
ResNext_Inference/images/dog.jpg
ResNext_Inference/images/hua.jpg
ResNext_Inference/images/img_229.jpg
ResNext_Inference/images/img_1204.jpg
ResNext_Inference/images/img_1221.jpg
ResNext_Inference/images/img_1237.jpg
ResNext_Inference/images/img_1522.jpg
ResNext_Inference/images/img_4869.jpg
ResNext_Inference/images/ren_l.jpg
ResNext_Inference/images/yindu.jpg
nohup.out
